[id$="-students"]{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

[id$="-students"]>div {
    border: solid 1px black;
}

#all-students > div {
    border: solid 1px black;
}

#under-sixty-students > div {
    border: solid 1px black;
}